page-request-delivery {
  ion-list {
    margin-top: 20px !important;
  }
  .title {
    color: color($colors, primary);
  }
  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .button-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    button {
      width: 50%;
      padding: 20px;
    }
  }
}
