<ion-content>
  <div class="app">
    <header-logo title="Solicitações de transporte"></header-logo>
    <div class="content">
      <ion-list *ngIf="deliveries">
        <div
          *ngFor="let delivery of deliveries"
          class="delivery"
          (click)="openDelivery(delivery)"
        >
          <div class="delivery__icon">
            <ion-icon name="ios-pin-outline"></ion-icon>
          </div>
          <div class="delivery__info">
            <span class="address-establishment">
              {{delivery.establishiment.name}},
              {{delivery.establishiment.address.neigh}},
              {{delivery.establishiment.address.city}}
            </span>
            <span class="address-customer">
              {{delivery.customer.address.street}},{{delivery.customer.address.number}},{{delivery.customer.address.neigh}},
              {{delivery.customer.address.city}}
            </span>
          </div>
        </div>
      </ion-list>
    </div>
  </div>
</ion-content>
