page-deliveries {
  .have-no-orders {
    padding: 16px;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 140px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    img {
      height: 60px;
    }

    h2 {
      font-size: 16px;
      color: #444;
    }
    p {
      margin: 0;
      color: #444;
    }
  }
}
